.marketplace {
    padding: 20px;  /* Add some padding around the marketplace content */
  }
  
  
  .input-group {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px; /* Space between inputs */
      margin-bottom: 10px;
  }
  
  
  .input-field {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;  /* Rounded corners */
    width: 150px; /* Adjust width as needed */
  }
  
  .input-field:focus {
      outline: none;  /* Remove default focus outline */
      box-shadow: 0 0 5px #9E8C98; /* Add a focus shadow */
      border-color: #9E8C98; /* Change border color on focus */
  
  }
  
  .create-button, .buy-button {
      background-color: #9E8C98;
      color: white;
      padding: 8px 12px;
      margin-left: 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease; /* Smooth background transition */
      margin-top: 5px;
  }
  
  .create-button:hover, .buy-button:hover {
      background-color: #725f71; /* Darker shade on hover */
  }
  
  
  .buy-button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .item-list{
      list-style: none;
      padding: 0;
  }
  
  .item-list-item {
      margin-bottom: 10px; /* Add spacing between list items */
      padding: 10px;  /* Add padding within list items */
      border: 1px solid #ddd;
      border-radius: 4px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  